<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>opengles-2</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>eugenv.p@gmail.com</string>
	<key>artistId</key>
	<integer>295015</integer>
	<key>artistName</key>
	<string>Björk</string>
	<key>bundleDisplayName</key>
	<string>Biophilia</string>
	<key>bundleShortVersionString</key>
	<string>1.6</string>
	<key>bundleVersion</key>
	<string>10</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143487-2,32</string>
			<key>AppleID</key>
			<string>eugenv.p@gmail.com</string>
			<key>DSPersonID</key>
			<integer>562572470</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>E</string>
			<key>LastName</key>
			<string>P</string>
			<key>PurchaserID</key>
			<integer>562572470</integer>
			<key>UserName</key>
			<string>E P</string>
		</dict>
		<key>purchaseDate</key>
		<string>2011-07-19T14:57:46Z</string>
	</dict>
	<key>copyright</key>
	<string>© 2011 One Little Indian, Ltd. and Well Hart, Ltd.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Music</string>
	<key>genreId</key>
	<integer>6011</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>434122935</integer>
	<key>itemName</key>
	<string>Björk: Biophilia</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Björk</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2011-07-19T14:57:46Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2011-07-19T03:46:18Z</string>
	<key>s</key>
	<integer>143487</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a526.phobos.apple.com/us/r30/Purple118/v4/2a/4b/a9/2a4ba941-fc66-b9ea-8d8b-7a53ca81754f/icon114x114.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.bjork.biophilia</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>821846140</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>3665181</integer>
		<integer>3940069</integer>
		<integer>3981086</integer>
		<integer>4091775</integer>
		<integer>4208726</integer>
		<integer>5341770</integer>
		<integer>6035081</integer>
		<integer>821846140</integer>
	</array>
	<key>storeCohort</key>
	<string>7|date=1311085800000&amp;sf=143487</string>
	<key>userName</key>
	<string>E P</string>
	<key>vendorId</key>
	<integer>555072</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
